.cov {
    position: relative;
    z-index: 1;
}
.themeline{
    z-index: 11;
    top: 50%;
    transform: translateY(-50%);
    left: 10%;
    position: absolute;
    }
    .border-container {
        position: relative;
        display: inline-block;
      }
      .i-wrapper {
        display: inline-block;
        position: relative;
      }
      
      .i-wrapper::after {
        content: '';
        display: block;
        width: 0;
        height: 0;
      }

.themeline h2{
    color: #a4cf57;
    font-size: 3em;

}
.themeline h1{
    margin: 0;
    font-size: 5em;
    font-weight: 700;
    color: #2366b3;
}