.financial-component{
    margin-top: 10vh;
}
@media (max-width: 1400px) { /* Adjust the breakpoint as needed */
    .financial-component{
        margin-top: 35vh;
    }
 }
 
.react-multiple-carousel__arrow--right {
    right: 0%;
}

.react-multiple-carousel__arrow--left {
    left:0%
}

@media (max-width: 1580px) { /* Adjust the breakpoint as needed */
    .financial-component{
        margin-top: 35vh !important;
    }
 }