
/* .color-bg{
    position: absolute;
    width: 50vw;
    height: 50vh;
    border: 2px solid black;
} */

  .gallery {
    margin-top: 20%;
    display: flex;
    /* border: 2px solid black; */
    position: relative;
    /* height: 100vh; */
}

.left {
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2px;
    font-weight: bold;
}

.rightblock {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .photo-container {
    width: 40vw;
    height: 40vw;
    position: relative;
} */

.photo {
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    position: absolute;
    width: 90%;
    height: 100%;
}
.dynamic-color{
    /* background: linear-gradient(45deg, rgba(32, 142, 233, 1) 41%, rgba(41, 57, 144, 1) 100%); */
    border-radius: 0 30px 30px 0;
    /* margin-left: 5%;     */
    display: flex;
    align-items: center;
    width: 100%;
    height: 60%;
    /* padding: 3%; */
}
/* .dc1{
    background-color: rgba(32, 142, 233, 1);
}
.dc2{
    background-color: rgb(17, 16, 16);
}
.dc3{
    background-color: rgb(234, 227, 227);
} */

.photo img {
    width: 90%;
    height: 90%;
    border-radius: 16px;
    object-fit: cover;    
}

.details {
    height: 100vh;
    /* border: 2px solid black; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 45vw;
    text-align: left;
    margin-left: auto;
}

.details-card{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-evenly;
    padding: 3% 5%;
    height: 55%;
    font-size: 18px;
    font-weight: 300;
    border-radius: 30px 0 0 30px;

}
.details-card h2{
    margin: 0;
    line-height: 0.5;
}
.details-card h1{
    font-size: 3em;
    margin: 0;
}
.t-sub{
    margin: 0;
    /* line-height: 1; */
}

.dt1 img{
    width:  45%;
}
.dt2 img{
    width:  15%;
}
.dt3 img{
    width:  25%;
}
.dt4 img{
    width:  14%;
    margin-bottom: 2%;
}
.t1{
    color: #5A8807;
}
.t2{
    color: #6C1186;
}
.t3{
    color: #BF6700;
}
.t4{
    color: #3A75A9;
}
.t5{
    color: #C35156;
}


/* ******************************* */
.linka {
    text-decoration: none;
    color: white;
    width: 220px;
    height: 50px;
    /* margin */
  }
  .lb{
    color: #000;
  }
  
  .linka {
    display: inline-block; /* Ensure the link is displayed as an inline-block */
  }
  
  .btna {
    margin: 0 auto;
    text-align: center;
    transition: all ease 0.5s;
    letter-spacing: 3px;
    position: relative;
    display: inline-block; /* Ensure the button text is displayed as an inline-block */
    padding-bottom: 5px; /* Add some padding to the bottom */
  }
  
  .btna:hover {
    transform: translateX(30px); /* Use transform for smoother animation */
  }
  
  .btna:before {
    content: "→";
    transition: all ease 0.5s;
    position: absolute;
    left: -20px; /* Adjust the position */
    opacity: 0;
  }
  
  .btna:hover:before {
    left: -35px; /* Move arrow to the left on hover */
    opacity: 1;
  }
  
  .btna:after {
    content: "";
    border-bottom: 2px solid white;
    width: 0;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all ease 0.5s;
  }
  .bb:after{
    border-bottom: 2px solid #000;

  }
  .btna:hover:after {
    width: 100%;
  }
  
  .btn-posnawr-bab {
    text-align: center;
    text-decoration: none;
    /* line-height: 80px; */
    position: relative;
    display: block;
    overflow: hidden;
    width: 10vw;
    font-size: 1.2vw;
    font-weight: 500;
    padding: 1.1vh;
    z-index: 1;
    /* height: 8vh; */
    /* max-width: 250px; */
    border-radius: 50px;
    /* margin: 1rem auto; */
    /* text-transform: uppercase; */
  }
  .bpb1{
    color: white;
    border: 1px solid white;

  }
  .bpb1 span{
    background-color: white;
  }
  .bpb1:hover{
    color: #0f68c9;
  }
  .bpb2{
    color: white;
    border: 1px solid white;

  }
  .bpb2 span{
    background-color: white;
  }
  .bpb2:hover{
    color: #000;
  }
  .bpb3{
    color: #000;
    border: 1px solid #000;

  }
  .bpb3 span{
    background-color: #000;
  }
  .bpb3:hover{
    color: #fff;
  }

  .btn-posnawr-bab span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 100%;
    -webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    z-index: -1;
  }

  .btn-posnawr-bab:hover span {
    width: 225%;
    height: 562.5px;
  }
  .btn-posnawr-bab:active {
    background-color: #0f68c9;
  }