/* Import Slick Carousel CSS */


body{
  background-color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.marginal{
  width: 86%;
  margin: 5% auto;
  max-width: 1400px;
}
.text-green{
  color: #A4CF57;
}
.text-blue{
  color: #2366b3;
}
.text-pink{
  color: #efa5b1;
}
.text-purple{
  color: #9484be;
}